@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background-color: #2C3D55;
  font-family: "Montserrat", sans-serif;
}

#box {
  background-color: #b0c4de;
  margin-left: 10px;
  width: 640px;
  height: 55px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 5px 15px 5px rgba(0,0,0,0.8); 
  box-shadow: 4px 5px 15px 5px rgba(0,0,0,0.8);
}

#t {
  margin-left: 5px;
  font-size: 39px;
  color: #212121;
}

#inputa {
  margin-top: 10px;
  margin-left: 350px;
  font-size: 20px;
}

#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  margin-top: 100px;
  margin-left: 200px;
  -webkit-box-shadow: 4px 5px 22px 5px rgba(0,0,0,0.7); 
  box-shadow: 4px 5px 22px 5px rgba(0,0,0,0.7);
}

#cf img.top:hover {
  opacity:0;
}

#a {
 font-size: 24px;
 color: #FFFFFF;
 margin-top: 220px;
 margin-left: 200px;
}

#b {
 color: #FFFFFF;
 font-size: 18px;
 margin-top: 180px;
 margin-left: 350px;
}

#c {
 color: #FFFFFF;
 font-size: 18px;
 margin-top: 100px;
 margin-left: 350px;
 }

#back {
 font-size: 18px;
 margin-top: 10px;
 margin-left: 20px;
}

label {
 color: #FFFFFF;
}

#color-box {
 margin-left: 820px;
}

#color-box2 {
 margin-left: 330px;
}

#inputb {
 margin-left: 355px;
 font-size: 20px;
}

#inputc {
 margin-left: 355px;
 font-size: 20px;
}

#d {
 color: #FFFFFF;
 font-size: 18px;
 margin-left: 780px;
}

#e {
 color: #FFFFFF;
 font-size: 18px;
 margin-left: 810px;
}

#linkone {
 color: #5EC2B7
}

#linktwo {
 color: #5EC2B7
}

#submita {
 width: 80px;
 height: 30px;
 margin-left: 350px;
 margin-top: 20px;
}

#submitb {
 width: 80px;
 height: 30px;
 margin-left: 810px;
 margin-top: 20px;
}

#outputa {
  color: #FFFFFF;
}

textarea {
  background-color: #2C3D55;
  font-size: 16px;
}

#inputbox2 {
  margin-left: 10px;
}